{% extends 'base.html' %}

{% block content %}
<div class="jumbotron fill col-sm-8 col-sm-offset-2">

  <h2>{{ photo.name }}</h2>
  <div class="photo">
    <p>Published by {{ photo.owner.username }} on {{ photo.date_added }}</p>
    <img class="image" src="/media/{{ path }}"/>
    <br />
    <br />
    <br />
    <p>"{{ photo.description }}"</p>


  <h3 style="display: inline">Likes: {{ likes }} </h3> 
  </div>

  <br>
  <br>
  <br>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Post" class="btn btn-success">
  </form>

    <br>
  <h3 style="display: inline">Tags:</h3>
  {% for tag in tags %}
    <div class="tag" style="display:inline">
      <h3 style="display: inline; color: red">#{{ tag.name }}</h3> &nbsp;
    </div>
  {% endfor %}
    <br />
    <br />

  <form method="post">
    {% csrf_token %}
    {{ tag_form.as_p }}
    <input type="submit" value="Add New Tag" class="btn btn-success">
  </form>

  <h3>Comments:</h3>
  {% for comment in comments %}
    <div class="comment">
      <p>{{ comment.owner.username }} on {{ comment.date_added }}</p>
      <p>{{ comment.text }}</p>
      <hr>
    </div>
  {% endfor %}

</div>
{% endblock %}

